<h1>Comic Sans</h1>
<div class='container'>
  <div id='draw'></div>

  <form action="/project" id="save" method="post">
    <input name="title" type="text" placeholder="Project Name">
    <input name="image_data" id="image_data" type="text" style="display:none">
    <input type="submit" value="Save" />

  </form>

 
</div>