<header>
<h1 class="main_title">COMIC SANS</h1>
</header>
<div class='container'>
  <div class='leftside'>
    <h2 class="start_story_tile">Start a Story</h2>
    <div id='draw'></div>
    <!-- <button id='save'>Save Progress</button> -->
    
    <form class="title_input" id="save" action="/project" method="post">
      <input class="add_title" name="title" type="text" placeholder="Your Comic Strip Title">
      <input name="image_data" id="image_data" type="text" style="display:none">
      <input class="new_story" type="submit">
    </form>
    </div>

  <div class='rightside'>
    <h2 class="continue_story_tile">Continue a Story</h2>     
    <div class='project_preview'>
    <% @inprogress.each do |comic| %>  
        <div id='draw-thumb'>
        <% comic.tiles.each do |image| %>
          <img class="image_thumb" src='<%= image.image_data %>' />
        <% end %>
      </div>
      <div id='draw-thumb'></div>
      <div id='draw-thumb'></div>
    </div>
    <div class='project_preview'>
      <div id='draw-thumb'></div>
      <div id='draw-thumb'></div>
      <div id='draw-thumb'></div>
    </div>
    <div class='project_preview'>
      <div id='draw-thumb'></div>
      <div id='draw-thumb'></div>
      <div id='draw-thumb'></div>
     </div>

  </div>
</div>
 
