<h1>Comic Sans</h1>
<div class='container'>
  <div id='draw'></div>
  <button id='save'>Save</button>
</div>

<form action="/project" method="post">
  <input name="title" type="text" placeholder="Project Name">
  <input name="data_image" id="data_image" type="text" style="display:none">
  <input type="submit">

</form>

 