<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  
  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript' src="/javascript/application.js"></script>
  <script type='text/javascript' src='/javascript/mousetrap.js'></script>
  <script type='text/javascript' src='/javascript/draw.js'></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <!-- <link href="dist/css/flat-ui.css" rel="stylesheet"> -->

  <title></title>

</head>
<body>
  <%= yield %>

</body>
</html>
