<!DOCTYPE html>
<html lang="en">
<head>
  
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript' src="/javascript/application.js"></script>
  <script type='text/javascript' src='/javascript/mousetrap.js'></script>
  <script type='text/javascript' src='/javascript/draw.js'></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <!-- <link href="dist/css/flat-ui.css" rel="stylesheet"> -->

  <title>Comic Sans</title>

</head>
  <body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><strong>Comic Sans</strong></a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="/">Home</a></li> -->
        <li><a class="nav_font" href="/ratings">Rate A Story</a></li>
        <li><a class="nav_font" href="/projects">Continue A Story</a></li>
        <% if current_user %> 
          <li><a class="nav_font" href="/logout">Logout</a></li>
        <% else %> 
          <li><a class="nav_font" href="/login">Login</a></li>
        <% end %>
          <div class="navitem">
           <% if current_user %> <%= current_user.username %>
          </div>   
        <% end %>
      </ul>
    </div>
  </div>
</nav>

  <%= yield %>

  </body>
</html>
