
<h1 class="main_title">Continue A Story</h1>

<div class="projects-container">
<div class="row">
<% @projects.each do |project| %>
      <h3 class="project_title"><a class="title" href="/projects/<%= project.id %>"><%= project.title %></a></h3> 
      <div id="owl-example" class="owl-carousel">

      <% project.tiles.each do |image| %>
        <div><img class="project_view_thumbs" src='<%= image.image_data %>' /></div>
      <% end %>



    </div>
  <% end %>
  </div>
</div>