<div class="top"
<% @tiles.each do |tile| %>
  <!-- <%= tile.image_data %>  -->
  <img class="project_view_thumbs" src='<%= tile.image_data %>' />
<% end %>
</div>

<div class="bottom"> 
  <button class="new_story" name="button">Add To Story</button>
  <div id='draw'></div>
</div>




